{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="mdl-grid">
        {% if errors %}
            <div>{{ errors.messageKey|trans(errors.messageData, 'security') }}</div>
        {% endif %}
        <div class="mdl-cell mdl-cell--12-col-desktop">
            <div id="loginForm"></div>
            <a href="{{ path('register') }}">Create an account ?</a>
        </div>
    </div>
{% endblock %}

{% block data_layout %}
    {{ parent() }}
    <script>
        dataLayout.csrfProtection = "{{ csrf_token('login') }}";
        dataLayout.lastUsername = "{{ username }}";
        dataLayout.locale = "{{ app.request.locale }}";
    </script>
{% endblock %}

{% block react %}
    <script src="{{ asset('build/login.js') }}"></script>
{% endblock %}
