{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--4-col-desktop"></div>
        <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--4-col-desktop">
            <div>
                {% if errors %}
                    <div>{{ errors.messageKey|trans(errors.messageData, 'security') }}</div>
                {% endif %}
            </div>
            <form action="{{ path('index') }}" method="post">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <label class="mdl-textfield__label" for="username">{{ "Username or email"|trans }}</label>
                    <input class="mdl-textfield__input" type="text" id="username" name="_username" value="{{ username }}" />
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <label class="mdl-textfield__label" for="password">{{ "Password"|trans }}</label>
                    <input class="mdl-textfield__input" type="password" id="password" name="_password" />
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit" id="login">
                    {{ "Login"|trans }}
                </button>
            </form>
            <a href="{{ path('register') }}">
                {{ "Create an account"|trans }}
            </a>
            <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--4-col-desktop"></div>
        </div>
    </div>
{% endblock %}
