{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="mdl-grid">
        <div>
            {{ form_errors(registerForm) }}
        </div>
        <div id="register"></div>
    </div>
{% endblock %}

{% block data_layout %}
    {{ parent() }}
    <script>
        dataLayout.csrfToken = "{{ csrf_token('register_form') }}";
        dataLayout.path = "{{ path('register') }}";
    </script>
{% endblock %}

{% block vue %}
    <script src="{{ asset('build/register.js') }}"></script>
{% endblock %}
