{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--12-col-desktop">
            <div>
                {{ form_errors(registerForm) }}
                {{ form_start(registerForm) }}
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        {{ form_label(registerForm.username, "Username", {'label_attr': {'class': 'mdl-textfield__label'}}) }}
                        {{ form_widget(registerForm.username, {'attr': {'class': 'mdl-textfield__input'}}) }}
                        {{ form_errors(registerForm.username) }}
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        {{ form_label(registerForm.email, "Email", {'label_attr': {'class': 'mdl-textfield__label'}}) }}
                        {{ form_widget(registerForm.email, {'attr': {'class': 'mdl-textfield__input'}}) }}
                        {{ form_errors(registerForm.email) }}
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        {{ form_label(registerForm.plainPassword, "Plain password", {'label_attr': {'class': 'mdl-textfield__label'}}) }}
                        {{ form_widget(registerForm.plainPassword, {'attr': {'class': 'mdl-textfield__input'}}) }}
                        {{ form_errors(registerForm.plainPassword) }}
                    </div>
                    <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                        Create an account !
                    </button>
                {{ form_end(registerForm) }}
            </div>
        </div>
    </div>
{% endblock %}
