{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div>
        {{ form_start(registerForm) }}
            {{ form_label(registerForm.username) }}
            {{ form_widget(registerForm.username) }}
            {{ form_errors(registerForm.username) }}
            {{ form_label(registerForm.email) }}
            {{ form_widget(registerForm.email) }}
            {{ form_errors(registerForm.email) }}
            {{ form_label(registerForm.plainPassword) }}
            {{ form_widget(registerForm.plainPassword) }}
            {{ form_errors(registerForm.plainPassword) }}
            <button type="submit" id="registerBtn">Register</button>
        <div id="registerForm"></div>
        {{ form_end(registerForm) }}
    </div>
{% endblock %}

{% block data_layout %}
    {{ parent() }}
    <script type="text/javascript">
        dataLayout.message = "{{ registerForm.username.vars.value }}";
    </script>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/register.js') }}"></script>
{% endblock %}