{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="mdl-cell mdl-cell--12-col-desktop">
        <div id="react" data-message="{{ message }}"></div>
    </div>
{% endblock %}

{% block data_layout %}
    {{ parent() }}
    <script type="text/javascript">
        dataLayout.navigationTitle = "{{ navigationTitle }}";
        dataLayout.message = "{{ message }}";
        dataLayout.footerTitle = "{{ footerTitle }}";
    </script>
{% endblock %}
